body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: goldenrod;
    color: black;
}

.quote {
    font-style: italic;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}